/* CSS Variables */
:root {
  --bg-main: #0e0e0e;
  --bg-card: #161616;

  --text-main: #ffffff;
  --text-muted: #a1a1a1;

  --accent: #7c7cff;

  --radius-lg: 16px;
  --radius-md: 12px;

  --space-lg: 48px;
  --space-md: 24px;
  --space-sm: 12px;
}