.card {
  position: relative;
  background: var(--bg-card);
  border-radius: var(--radius-lg);
  padding: 16px;
  min-height: 350px;
  cursor: pointer;

  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

/* .card:hover {
  transform: translateY(-2px);
} */

.flipped {
  transform: rotateY(180deg);
}
.flipCardInner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
/* SHARED */

.front,
.back {
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
}

/* FRONT */

.front {
  font-family: "JetBrains Mono", monospace;
}

.code {
  font-size: 0.8rem;
  color: #dcdcdc;
  white-space: pre-wrap;
}

.hint {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  color: var(--text-muted);
}

/* BACK */

.back {
  transform: rotateY(180deg);
  font-family: "Inter", sans-serif;
  font-size: 0.85rem;
  color: var(--text-main);
}

.output pre {
  background: rgba(255, 255, 255, 0.05);
  padding: 8px;
  border-radius: var(--radius-md);
  margin-top: 6px;
  font-family: "JetBrains Mono", monospace;
}

.explanation {
  padding-left: 18px;
  margin: 12px 0;
  color: var(--text-muted);
}

.explanation li {
  margin-bottom: 6px;
}

.link {
  margin-top: auto;
  font-size: 0.8rem;
  color: var(--accent);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
